@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');



body{ 
  
  font-family: Raleway, sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

/* General */

main {
  padding: 10px;
}

.flexCentre
{
display: flex;
justify-content: center;
align-items: center;
}
.flexAround
{
    
display: flex;
justify-content: space-around;
align-items: center;

}


.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo
{
  width: 150px;
}

.headline .filters

{
  color: black;
  padding: 15px;
  font-size: large;
  font-weight: 600;
}




/* filtres */

.filters h3 {
    font-size: 24px;
    display: inline;
  }
  
  .filters ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .filters ul li {
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
  }
  
  .filters ul li:hover {
    cursor: pointer;
    background: #DEEBFF;
    transition-duration: 0.25s;
  }
  
  .filters ul li:hover .icon-filter {
    background: white;
    transition-duration: 0.25s;
  }
  
  .icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
  }


.subtitle
{

font-weight: 600;

}

header {
    display: flex;
    width: 100%;
   
   
}



 /*Section 1 Navbar*/


.navbar {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-template-columns: 100fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . accomodation activities sign-up";
  }

  #logo {
    padding: 0;
  }
  
  .navbar .navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }

  .navbar .navbar-link .underline-effect {
    width: 100%;
    height: 2px;
    background: white;
  }
  
  .navbar #navbar-link-accomodation > .underline-effect {
    background: #0065fc;
  }
  
  .navbar #navbar-link-activities:hover > .underline-effect {
    background: #0065fc;
  }
  
  #navbar-link-sign-up a {
    color: #0065fc;
    
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    padding: 25px;
  }
  
  .navbar a:visited {
    color: #0065fc;
  }
  
  .navbar img {
    grid-area: logo;
  }
  
  .navbar #navbar-link-accomodation {
    grid-area: accomodation;
  }
  
  #navbar-link-accomodation a {
    color: #0065fc;
  }
  
  .navbar #navbar-link-activities {
    grid-area: activities;
    color: black;
  }
  
  .navbar #navbar-link-activities a {
    color: black;
  }
  
  .navbar #navbar-link-activities a:hover {
    color: #0065fc;
  }
  
  .navbar #navbar-link-sign-up {
    grid-area: sign-up;
    color: #0065fc;
    font-weight: 600;
  }
  
  .navbar .active-link {
    color: #0065fc;
  }


.links {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: 100fr 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo . accomodation activities sign-up";
}



/* HEADER */

.bordureSearch {
    background-color: grey;
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid;
   
}

.padingSearch {
    padding-left: 20px ;
}

.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}



.iconSize {
height: 50px;
width: 50px;
border-radius: 10px 0 0 10px;
}


.button-research {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
  }
g
.marseille-cases

{display: flex;}

/* recherche */

.research-box {
  display: flex;
  padding: 5px;
}
.research-bar {
  font-family: 'Raleway', 'Sans-Serif';
  font-weight: 600;
  border: solid #F2F2F2 0.1em;
  width: 200px;
  padding: 10px;
  color: black;

}

#logo_icon {
  display: flex;
  border-radius: 17px 0 0 17px;
  padding: 17px;
  background-color: #F2F2F2;
}

/* HEBERGEMENTS */

.info {
  display: flex;
  align-items: center;
  margin: 10px;

}
.logo_info {
  text-align: center;
  font-size: small;
  color: #0065fc;
  padding: 10px;
  border: solid #F2F2F2 0.1em;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  align-content: center;
  justify-content: center;
}
.info_annonce {
  padding: 10px;
  font-weight: 600;
}



.sizeHebergements 

{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}

.sizeHebergements 
{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;

}

.imgHebergements1 
{
background-image: url("img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0;
}



.blocHebergementsPrincipale

{
padding: 20px;
display: flex;
flex-flow: row wrap;
column-count: 3;
background-color: #e9e9e9;
border-radius: 15px;
justify-content: center;
row-gap: 20px;
column-gap: 20px;
width: 60%;
}

.blocHebergementsPrincipale > h2
{
    display: flex;
    margin: 15px;
  flex: 0 0 100%;
}
.blocHebergements 
{
padding :5px;
background-color: white;
border-radius: 15px;
box-shadow: lightgrey 0 2px 2px 2px;


}

.visited

{
color: black;

}


.imgHebergements2 
{
background-image: url("img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0
}

.imgHebergements3 
{
background-image: url("img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0
}

.imgHebergements4 
{
background-image: url("img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0
}

.imgHebergements5 
{
background-image: url("img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0
}

.imgHebergements6 
{
background-image: url("img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
background-size: cover;
background-position: center;
width: 120px;
height: 120px;
border-radius: 15px 15px 0 0
}
.card
{
    width: 250px;
}

.blocLesPlusPopulaires > .blocHebergements {
  padding :5px;
  background-color: white;
  border-radius: 15px;
  height: 150px;
  width: 80%;
  box-shadow: lightgrey 0 2px 2px 2px;
}

.card_popular

{
width: 90%;
height: 100px;
border-radius: 15px;
padding: 2px;
display: flex;

}
.card_popular > img {
  width: 150px;
  height: 150px;
  border-radius: 15px 0 0 15px;
}


.card > .container
{
height: auto;
font-size: small;
display: block ;
/* line-height: 0.1cm; */

}

.stars

{
color: #0065fc;

}


.link

{
text-decoration: none;

}

.card > img
{
width: 100%;
border-radius: 15px 15px 0 0;
height: 150px;

   
  
}
.card_popular 
{
   display: flex;
   height: 100px; 
 
}

.card_popular > .container 

{
padding: 2px;
margin-bottom: -2px;
padding: 5px;
width: 60%;
font-size: small;
display: flex;
flex-direction: column;
}



/* Activités */

.marseille-activities

{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.activity__full-card
{
    /*display: flex;*/
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
    }

.activity__full-card >a > div > img
    {
        display: flex;
        width: 100%;

    }

.column1 
{

    width: 25%;
    
}

.column2 
{

    width: 25%;

}

.column3 
{

    width: 25%;

}

.column4 
{

    width: 25%;

}

 /* imgActivite */

#imgActivite1 
{

/*background-image: url("img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");*/
background-size: cover;
background-position: center;
width: 90%;

border-radius: 15px 15px 0 0

}


#imgActivite2
{
/*background-image: url("img/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");*/
background-size: cover;
background-position: center;
width: 90%;
border-radius: 15px 15px 0 0
}


#imgActivite3

{
   /* background-image: url("img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");*/
    background-size: cover;
    background-position: center;
    width: 90%;
    border-radius: 15px 15px 0 0
    }

    #imgActivite4

    {
        /*background-image: url("img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");*/
        background-size: cover;
        background-position: center;
        width:  90%;
        border-radius: 15px 15px 0 0;
        height: 70%;
        
        }

        #imgActivite5

        {
            /*background-image: url("img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");*/
            background-size: cover;
            background-position: center;
            width:  90%;
            border-radius: 15px 15px 0 0
            }

             #imgActivite6
            
            {
               /* background-image: url("img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");*/
                background-size: cover;
                background-position: center;
                width:  90%;
                border-radius: 15px 15px 0 0
                }


                .blocLesPlusPopulaires
    {
            display: flex;
            flex-flow: row wrap;
            column-count: 3;
            background-color: #e9e9e9;
            border-radius: 15px;
            justify-content: center;
            row-gap: 20px;
            column-gap: 20px;
            width: 35%;
            padding-bottom: 20px
            }

            .i
            {
              position absolute;

              right: 100px; 
            }

            .container
            
            {
justify-content:space-between ;
display:flex

        }

    .conteneurActivite

        {

            display: flex;
            column-count: 4;
            border-radius: 15px;
            justify-content: center;
            row-gap: 20px;
            width: 100%;
            height: 410px;
            padding-bottom: 20px;
        }

        /* footer */


        .footer {
          width: 100%;
          background: #F2F2F2;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .footer-blocs {
          display: flex;
          justify-content: space-between;
          width: 100%;
          max-width: 1440px;
        }
        
        .footer-bloc {
          padding: 30px;
          display: flex;
          flex-direction: column;
        }
        
        .footer-bloc > * {
          margin-bottom: 10px;
        }
        
        .footer-title {
          font-size: 18px;
          margin-bottom: 15px;
        }
        
        .footer-link:hover {
          cursor: pointer;
          text-decoration-line: underline;
        }
        
        .footer-bloc-assistance {
          margin-right: 20%;
        }

 /*modif image activité */

 .demiimage {
    object-fit: cover;
     height: 120px;
 }

 .demiimage2
 {
  object-fit: cover;
  height: 140px;

 }
 .demiimage3
{
  object-fit: cover;
  height: 110px;
}
 
 .grandeimage

 {
  object-fit: cover;
  height: 350px;
 }

 .card__title {
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 5px;
 }

 .englobe {
   width : 100%;
   border-radius: 15px;
   box-shadow: 2px 2px 2px #F2F2F2 ;
 }

 .englobe > img {
  border-radius: 15px 15px 0 0;
  
 }

 @media screen and (min-width:992px) {
  
  body {
    margin: 0 auto;
  }

  header {
    width: 100%;
  }


  .filters-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
    
    #icon-glass {
         display: none;
     }
 }
 
 @media screen and (max-width:768px) {

  header {
    display: flex;
    
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .logo {
    order: 1;
  }

  #navbar-link-sign-up {
    order: 2;
  }

  #navbar-link-activities {
    order: 3;
  }

  #navbar-link-accomodation {
    order: 4;
  }



 

  

  .button-research {
      display: none;
  } 
  #icon-glass {
    display: flex;
  }


  #hebergementsHotel {
    display:flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
  #hebergementsHotel > .blocHebergementsPrincipale {
    width: 100%;
    background-color: white;
    padding: 0%;
  }

  #hebergementsHotel > .blocLesPlusPopulaires {
    width: 100%;
    
  }

  .conteneurActivite {
    display:flex;
    flex-flow: row wrap;
    row-gap: 5px;
    height: auto;
    width: 100%;
  }

  .column1, .column2, .column3, .column4 {
    width: 100%;
    justify-content: space-between;
  }

  .englobe {
    
    width: 100%;
  }
  .grandeimage, .demiimage {
    height: 150px;
    width: 100%;
  }

  .card_popular {
    width: 100%;
  }

  .footer-blocs {
    display:block;
  }


 }


