@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');



body{ font-family: Raleway, sans-serif; max-width: 1600px;} 



/* General */



.flexCentre
{
display: flex;
justify-content: center;
align-items: center;
}
.flexAround
{
    
display: flex;
justify-content: space-around;
align-items: center;

}


.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo
{
width: 150px;
}

.headline.filters

{color: black;
padding: 15px;
font-size: large;
font-weight: 600;
}







*/ filtres */

.filters h3 {
    font-size: 24px;
    display: inline;
  }
  
  .filters ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .filters ul li {
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
  }
  
  .filters ul li:hover {
    cursor: pointer;
    background: #DEEBFF;
    transition-duration: 0.25s;
  }
  
  .filters ul li:hover .icon-filter {
    background: white;
    transition-duration: 0.25s;
  }
  
  .icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
  }


.subtitle
{

font-weight: 600;

}

header {
    display: flex;
    width: 100%;
   
}

/*Section 1 Navbar */


.navbar {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo . accomodation activities sign-up";
  }

  #logo {
    padding: 0;
  }
  
  .navbar .navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }

  .navbar .navbar-link .underline-effect {
    width: 100%;
    height: 3px;
    background: white;
  }
  
  .navbar #navbar-link-accomodation > .underline-effect {
    background: #0065fc;
  }
  
  .navbar #navbar-link-activities:hover > .underline-effect {
    background: #0065fc;
  }
  
  #navbar-link-sign-up a {
    color: #0065fc;
    
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    padding: 25px;
  }
  
  .navbar a:visited {
    color: #0065fc;
  }
  
  .navbar img {
    grid-area: logo;
  }
  
  .navbar #navbar-link-accomodation {
    grid-area: accomodation;
  }
  
  #navbar-link-accomodation a {
    color: #0065fc;
  }
  
  .navbar #navbar-link-activities {
    grid-area: activities;
    color: black;
  }
  
  .navbar #navbar-link-activities a {
    color: black;
  }
  
  .navbar #navbar-link-activities a:hover {
    color: #0065fc;
  }
  
  .navbar #navbar-link-sign-up {
    grid-area: sign-up;
    color: #0065fc;
    font-weight: 600;
  }
  
  .navbar .active-link {
    color: #0065fc;
  }


.links {
    display : inline-flex;
    justify-content: flex-end;
}

/* HEADER */

.bordureSearch {
    background-color: grey;
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid;
   
}

.padingSearch {
    padding-left: 20px ;
}

.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}



.iconSize {
height: 50px;
width: 50px;
border-radius: 10px 0 0 10px;
}


.button-research {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
  }
g
.marseille-cases

{display: flex;}

.research-box {
  display:flex;
  padding: 5px;
}

.icon-location {
  display: flex;
  border-radius: 17px 0 0 17px;
  padding: 17px;
  background-color: #f2f2f2;
}

.research-bar {
  width: 200px;
  font-family: 'Raleway';
  font-weight: 600;
  color: black;
  border: solid #f2f2f2 0.1em;
}

/* HEBERGEMENTS */



.sizeHebergements 

{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}

.sizeHebergements 
{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;

}

.imgHebergements1 
{
background-image: url("img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0;
}



.blocHebergementsPrincipale

{
display: flex;
flex-flow: row wrap;
column-count: 3;
background-color: #e9e9e9;
border-radius: 15px;
justify-content: center;
row-gap: 20px;
column-gap: 20px;
width: 60%;
}

.blocHebergementsPrincipale > h2
{
    display: flex;
  flex: 0 0 100%;
}
.blocHebergements
{
padding :5px;
width: 250px;
background-color: white;
border-radius: 15px;
margin: 15px;

}
.blocLesPlusPopulaires
{
        display: flex;
        flex-direction: column;
        column-count: 3;
        background-color: #e9e9e9;
        border-radius: 15px;
        justify-content: center;
        row-gap: 20px;
        column-gap: 20px;
        width: 35%;
        }



.blocLesPlusPopulaires > .blocHebergements {
  padding: 5px;
  height: 150px;
  border-radius: 15px;
  margin: 15px;
  width: 90%;
}

.imgHebergements2 
{
background-image: url("img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0
}

.imgHebergements3 
{
background-image: url("img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0
}

.imgHebergements4 
{
background-image: url("img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0
}

.imgHebergements5 
{
background-image: url("img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
background-size: cover;
background-position: center;
width:  120px;
height: 120px;
border-radius: 15px 15px 0 0
}

.imgHebergements6 
{
background-image: url("img/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
background-size: cover;
background-position: center;
width: 120px;
height: 120px;
border-radius: 15px 15px 0 0
}
.card
{
    width: 200px;
}
.card popular

{
width: 90%;
height: 100px;
margin: auto;
box-shadow: 0 4px 8px 0;
border-radius: 20;
padding: 4px;
display: flex;

}


.card > .container
{
height: auto;
font-size: small;
display:block ;

/* linheheigh-height: p0.1cm; */

}

.stars

{
color: #0065fc;

}


.link

{
text-decoration: none;

}

.card > img
{
width: 250px;
border-radius: 15px 15px 0 0;
height: 150px;

   
  
}
.card_popular 
{
   display: flex; 
   width: 75% ;
}

.card_popular > .container 

{
margin: auto;
font-size: small;
flex-direction: column;
}

.card_popular > img

{
  width: 150px;
  height: 150px;
  border-radius: 15px 0 0 15px;
    
}

/* Activités */

.marseille-activities

{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
}

.activity__full-card
{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
    }

.activity__full-card >a > div > img
    {
        display: flex;
        width: 90%;

    }

.column1 
{

    width: 25%;
    
}

.column2 
{

    width: 25%;

}

.column3 
{

    width: 25%;

}

.column4 
{

    width: 25%;

}

 /* imgActivite */

#imgActivite1 
{

/*background-image: url("img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");*/
background-size: cover;
background-position: center;
width: 90%;

margin: auto;
border-radius: 15px 15px 0 0

}


#imgActivite2
{
/*background-image: url("img/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");*/
background-size: cover;
background-position: center;
width: 90%;
border-radius: 15px 15px 0 0
}


#imgActivite3

{
   /* background-image: url("img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");*/
    background-size: cover;
    background-position: center;
    width: 90%;
    border-radius: 15px 15px 0 0
    }

    #imgActivite4

    {
        /*background-image: url("img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");*/
        background-size: cover;
        background-position: center;
        width:  90%;
        height: 40px;
        border-radius: 15px 15px 0 0
        }

        #imgActivite5

        {
            /*background-image: url("img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");*/
            background-size: cover;
            background-position: center;
            width:  90%;
            border-radius: 15px 15px 0 0
            }

             #imgActivite6
            
            {
               /* background-image: url("img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");*/
                background-size: cover;
                background-position: center;
                width:  90%;
                border-radius: 15px 15px 0 0
                }


  

            .container
            
            {
justify-content:space-between ;
display:flex

        }

    .conteneurActivite

        {

            display: flex;
column-count: 4;
border-radius: 15px;
justify-content: center;
row-gap: 20px;
width: 100%;
height: 400px;
        }


        /* footer */


        .footer {
          width: 100%;
          background: #F2F2F2;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .footer-blocs {
          display: flex;
          justify-content: space-between;
          width: 100%;
          max-width: 1440px;
        }
        
        .footer-bloc {
          padding: 30px;
          display: flex;
          flex-direction: column;
        }
        
        .footer-bloc > * {
          margin-bottom: 10px;
        }
        
        .footer-title {
          font-size: 18px;
          margin-bottom: 15px;
        }
        
        .footer-link:hover {
          cursor: pointer;
          text-decoration-line: underline;
        }
        
        .footer-bloc-assistance {
          margin-right: 20%;
        }

 /*modif image activité */

 .demiimage {
    object-fit: cover;
     height: 120px;
     border-radius: 15px;
 }

 .grandeimage

 {
object-fit: cover;
height: 350px;
border-radius: 15px;
 }


 